.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar-nav.navbar-center img {
  height: 100px;
  width: auto;
  margin-bottom: 10px;
}

#myCarousel {
  margin: 20px;
}
.class1{
	padding:50px;
	
}
.box1{
	border: 1px solid black;
	background: #e3e3e3;
	margin: auto;
	text-align: center;
}
